@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #1D1B11;
  --color: #18cae6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lora);
  --font-mono: var(--font-lora);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1D1B11;
    --foreground: #ededed;
  }
}

body {
  padding-top: 92px; /* compensatation fixed header */
  background: var(--background);
  color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg-component {
 shape-rendering: geometricPrecision;
 transform: translateZ(0);
}